<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="stirtrek.activity"
      android:versionCode="2"
      android:versionName="2.0">
         
    <uses-sdk android:minSdkVersion="7" 
              android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />     
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
      
    <supports-screens android:smallScreens="true"
    				  android:normalScreens="true"
    				  android:largeScreens="true"
    				  android:anyDensity="true"/>          
    
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    	
    	<provider android:authorities="stirtrek.data.StirTrekDataProvider"
 	 		      android:multiprocess="true"
    		      android:name="com.stirtrek.data.StirTrekDataProvider"/>
    	
    	<activity android:name="com.stirtrek.activity.MainActivity"
    	    	  android:configChanges="orientation"
    	          android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.stirtrek.activity.ScheduleActivity"
        		  android:label="@string/app_name"
    	    	  android:configChanges="orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">            
        </activity>
        
        <activity android:name="com.stirtrek.activity.TwitterActivity"
        		  android:label="@string/app_name"
    	    	  android:configChanges="orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">            
        </activity>
        
        <activity android:name="com.stirtrek.activity.InfoActivity"
        		  android:label="@string/app_name"
    	    	  android:configChanges="orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">            
        </activity>

		<activity android:name="com.stirtrek.activity.SpeakerActivity"
        		  android:label="@string/app_name"
    	    	  android:configChanges="orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">            
        </activity>        
        
        <activity android:name="com.stirtrek.activity.InterestsActivity"
        		  android:label="@string/app_name"
    	    	  android:configChanges="orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">            
        </activity> 
        
    </application>

</manifest> 